<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- All the files that are required -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="stylesheets/loginStyle.css">
<title>register</title>

</head>
<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<body>
  <div class="text-center" style="padding:50px 0">
    <div class="logo">register</div>
    <!-- Main Form -->
    <div class="login-form-1">
      <form id="register-form" class="text-left" action="/register" method="POST">
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <div class="form-group">
              <label for="reg_username" class="sr-only">UserName</label>
              <input type="text" class="form-control" id="reg_username" name="username" placeholder="username" value="<%= username %>" required>
            </div>
            <div class="form-group">
              <label for="reg_password" class="sr-only">Password</label>
              <input type="password" class="form-control" id="reg_password" name="password" placeholder="password" value="<%= password %>" required>
            </div>
            <div class="form-group">
              <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
              <input type="password" class="form-control" id="reg_password_confirm" name="cpassword" placeholder="confirm password" >
            </div>
            
            <div class="form-group">
              <label for="reg_email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="reg_email" name="email" placeholder="email" value="<%= email %>" required>
            </div>
            <div class="form-group">
              <label for="reg_fullname" class="sr-only">Full Name</label>
              <input type="text" class="form-control" id="reg_fullname" name="fullname" placeholder="full name" value="<%= fullname %>" required>
            </div>
            
            <div class="form-group login-group-checkbox">
              <input type="radio" class="" name="gender" value="male" id="male" placeholder="username">
              <label for="male">male</label>
              
              <input type="radio" class="" name="gender" value="female" id="female" placeholder="username">
              <label for="female">female</label>
            </div>
          </div>
          <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="etc-login-form">
          <% if(msg!==""){ %> 
          <p style="color: red;"><%= msg %></p>
          <% } %> 
          <p>already have an account? <a href="/" style="color: darkgreen;">login here</a></p>
        </div>
      </form>
    </div>
    <!-- end:Main Form -->
  </div>  

</body>
</html>